:root {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

// https://github.com/samuelkraft/samuelkraft-next/blob/master/components/blog/nowplaying.module.scss
$icon_color: orange;
$icon_size: 13px;

.playing_icon {
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    width: $icon_size;
    height: $icon_size;

    & > span {
        width: 3px;
        height: 100%;
        background-color: $icon_color;
        border-radius: 3px;
        transform-origin: bottom;
        transition: opacity 0.3s ease-out;
        animation: bounce 2.2s ease infinite alternate;
        content: "";

        &:nth-of-type(2) {
            animation-delay: -2.2s;
        }

        &:nth-of-type(3) {
            animation-delay: -3.7s;
        }
    }
}

@keyframes bounce {
    10% {
        transform: scaleY(0.3);
    }

    30% {
        transform: scaleY(1);
    }

    60% {
        transform: scaleY(0.5);
    }

    80% {
        transform: scaleY(0.75);
    }

    100% {
        transform: scaleY(0.6);
    }
}

.loader {
    width: $icon_size;
    height: $icon_size;
    border: 3px solid $icon_color;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
